<div id="wrapper">
  <h1 class="heading">Mongo FIFA Scraper</h1>
  <div id="articles"></div>
  <div id="notes"></div>
</div>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="../assets/javascript/main.js"></script>
